# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
db.sqlite3
*.sqlite3

# Environment
venv/
.env
.env.*

# VSCode
.vscode/

# macOS
.DS_Store

# Migrations (optional, if you want to ignore pyc files in migrations)
**/migrations/*.pyc
